/* You're cute btw <3 */
@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Shadows+Into+Light&family=Caveat:wght@500&display=swap');

* {
    overflow: hidden;
}

body {
    /*    background: linear-gradient(to right top, #FFA7EC, #A536FF);*/
    background: #252830;
    background: url("images/bg.png") center 0 / cover;
    backdrop-filter: blur(3px);
    font-family: 'Rubik', sans-serif;
}

main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1 {
    color: #B2AEFF
}

h3 {
    font-family: 'Shadows Into Light', cursive;
}

p, pre {
    color: white;
    font-family: 'Rubik', sans-serif;
    word-break: break-word;
    padding-inline: 5rem;
}

.card {
    background: white;
    border-radius: 1.7em;
    width: 60%;
    height: 60%;
    background: linear-gradient(to right bottom, rgba(255, 167, 236, 0.8), rgba(126, 85, 255, 0.5));
    filter: drop-shadow(6px 6px 16px black);
}


.profile {
    alignment: center;
    justify-content: center;
    padding: 16px 25px 25px 0;
    display: flex;
    min-width: 30%;
}

.titles {
    border-spacing: 0;
    margin-top: -10px;
    letter-spacing: 4px;
    word-wrap: break-word;
    user-select: none;
}

.about {
    text-align: center;
}

.info {
    position: relative;
    text-align: center;
    max-height: 8vh;
}

.info-item {
    display: inline-flex;
    position: relative;
    flex-direction: row;
    width: 128px;
}

.info-item-text {
    color: skyblue;
    position: relative;
    top: -16px;
    left: -4px;
    letter-spacing: 2px;
    max-width: 200px;
}

.info-icons {
    width: 30%;
    height: 30px;
    padding-right: 2px;
    display: inline-flex;
}

.socials {
    display: flex;
    justify-content: center;
}

.social-icon {
    padding-left: 6px;
    padding-right: 6px;
    padding-bottom: 8px;
}

.subtitle {
    color: navajowhite;
    letter-spacing: 1px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.drop-shadow-1 {
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.45));
}

.be-higher {
    transform: translateY(-16px);
}

.footer {
    text-align: right;
    padding-right: 14px;
    padding-bottom: 5px;
    color: darkcyan;
    filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.10));
    font-family: "Comic Sans MS", sans-serif;
}


#icon {
    max-width: 90px;
    min-width: 90px;
    margin-right: 16px;
    border-radius: 100em;;
    pointer-events: none;
    user-select: none;
}

#socials-header {
    position: absolute;
    bottom: 1px;
    color: navajowhite;
    letter-spacing: 0.01em;
}

#h1-name {
    margin-bottom: -16px;
}

#guh-html {
    letter-spacing: 2px;
}
